连接数据库

In [1]:
import sqlite3

conn = sqlite3.connect('test.db')

print("open database successfully")

open database successfully

创建表

In [2]:
import sqlite3
# connect test database
conn = sqlite3.connect('test.db')
print("open database successfully")
# set cursor
c = conn.cursor()
# exec sql
c.execute(
    '''
    CREATE TABLE COMPANY
    (ID     INT PRIMARY KEY NOT NULL,
    NAME    TEXT     NOT NULL,
    AGE     INT      NOT NULL,
    ADDRESS CHAR(50),
    SALARY  REAL);
    '''
)
print("Table created successfully")
conn.commit()
conn.close()

open database successfully
Table created successfully

插入数据

In [4]:
import sqlite3

conn = sqlite3.connect('test.db')
c = conn.cursor()
print("open database successfully")

c.execute("INSERT INTO COMPANY (ID, NAME, AGE, ADDRESS, SALARY) \
    VALUES (1, 'Paul', 32, 'Califorina', 2000000.00)")
conn.commit()
print('Records created successfully')
conn.close()

open database successfully
Records created successfully

查询数据

In [5]:
def dict_factory(cursor, row):
    d = dict()
    for idx, col in enumerate(cursor.description):
        d[col[0]] = row[idx]
    return d

In [8]:
import sqlite3

conn = sqlite3.connect('test.db')
conn.row_factory = dict_factory
cur = conn.cursor()
cur.execute("SELECT * FROM COMPANY")
print(cur.fetchone())
conn.close()

{'ID': 1, 'AGE': 32, 'NAME': 'Paul', 'ADDRESS': 'Califorina', 'SALARY': 2000000.0}